<!-- laba2/templates/laba2/supplier_list.html -->

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список постачальників</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'laba2/styles.css' %}">
</head>
<body>
    <h1>Список постачальників</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ім'я</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.supplier_id }}</td>
                <td>{{ supplier.name }}</td>
                <td>
                    <form action="" method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="supplier_id" value="{{ supplier.supplier_id }}">
                        <button class="supp-btn" type="submit">Видалити</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
